.for-you{
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(244, 248, 251);
    padding-left: 20px;
    padding-top: 15px;
    border-radius: 13px;
    height: 320px;
}
.title1{
    font-size: 20px;
    font-weight: bold;
}
.title2{
    font-weight: 500;

}
.topicWeek{
    margin-top: 15px;
}
.sell{
    margin-top: 15px;
}
.tomxu{
    margin-top: 15px;
}
.package{
    margin-top: 15px;
}
.linkShow{
    margin-top: 20px;
    color: rgb(29,155,240);
    text-decoration: none;
}
.postNumber{
    opacity: 0.5;
}